ul {
  list-style-type: none;

  margin: 0;

  padding: 0;

  overflow: hidden;
}
li {
  float: left;
}

li a {
  display: block;

  padding: 12px 16px;

  background-color: #6bbed7;

  color: black;

  text-decoration: none;
}
li a:hover {
  background-color: #143d7d;
  color: white;
}

#slider {
  position: relative;
  margin: 0 auto;
  width: 950px;
  height: 400px;
  overflow: hidden;
}
#slider img {
  width: 950px;
  height: 400px;
}
#slider li {
  list-style: none;
}

.sliderbutton {
  position: relative;
  margin: 0 auto;
  width: 120px;
  margin-top: -25px;
}
.sliderbutton li {
  list-style: none;
  padding: 7px;
  background: rgb(111, 18, 18);
  float: left;
  margin-right: 10px;
  border-radius: 10px;
}

.sliderleft {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 50px;
  height: 400px;
  line-height: 400px;
}

.sliderright {
  margin-left: 900px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 50px;
  height: 400px;
  line-height: 400px;
}
